/* Create by gaojiye */
@charset "utf-8";
/*通用样式ͨ*/
body,ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd {
    margin:0;
    padding:0;
}
ul, li{
    list-style: none;
}
a:link,
a:visited,
a:active {
    text-decoration: none;
}
/* body{
    background: #13043c;
} */
body{
    /* background: #13043c; */
    
    background: url(/static/image/b.jpeg); background-size:100% 100% ; background-attachment: fixed ;

}
/* body{
    
    background: url(F:/数据可视化课件/shucang/server/static/image/b.jpeg); background-size:100% 100% ; background-attachment: fixed ;
} */
.header{
    height: 80px;
    position: relative;
    padding-top: 13px;
    font-size: 36px;
    color: #b300ff;
    text-align: center;
    /* background: url(/static/image/bg.png) top center no-repeat; */
}
.header a.a-access{
  position: absolute;
    right: 3%;
    top: -18%;
}
.main{
    padding: 0 30px 30px;
}
.main-left,
.main-right{
    float: left;
    width: 28%;
    padding: 0 10px;
}
.main-middle{
    float: left;
    width: 44%;
    padding: 0 10px;
}

.border-container {
    position: relative;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #a854f2;
}

.border-container span.border-span {
    display: block;
    position: absolute;
    width:35px;
    height: 35px;
}

.border-container span.top-left {
    top: -4px;
    left:-4px;
    border-top: 3px solid #a854f2;
    border-left: 3px solid #a854f2;
}

.border-container span.top-right {
    top:-4px;
    right:-4px;
    border-top: 3px solid #a854f2;
    border-right: 3px solid #a854f2;
}

.border-container span.bottom-left {
    bottom: -4px;
    left: -4px;
    border-bottom: 3px solid #a854f2;
    border-left: 3px solid #a854f2;
}

.border-container span.bottom-right {
    bottom: -4px;
    right: -4px;
    border-bottom: 3px solid #a854f2;
    border-right: 3px solid #a854f2;
}
.name-title{
    font-size:20px ;
    color: #a854f2;
}
#stock{
    height: 485px;
}
#dormitorydetail{
    height: 135px;
}
#rank{
    height: 900px;
}
.three-pie{
    border-top: 1px solid #2c768a;
    margin: -10px;
    margin-top: 10px;
}
.teacher-pie{
    border-bottom: 1px solid #2c768a;
    margin: -10px;
    margin-bottom: 0;
}
.three-pie li,
.teacher-pie li{
    float: left;
    width: 50%;
    border-right: 1px solid #2c2e8a;
}
.teacher-pie li .name-title{
    padding-left:10px ;
    padding-top:10px ;
}
.three-pie li:last-child,
.teacher-pie li:last-child{
    border-right: none;
}
#pao{
    height: 750px;
    /* width: 1000px; */
}
#nationarate,
#householdrate{
    height: 480px;
}
#map{
    height: 850px;
    /* width: 100px; */
}
.number-show{
    position: absolute;
    top: 20%;
    right: 5%;
}
.number-show span.span-name{
    font-size:14px ;
    color:#8e51ff ;
}
.number-show span.span-number-show{
    font-size:18px ;
    color:#6654b5 ;
    font-style: italic;
}
.number-show li{
    line-height: 25px;
}
#teacherrate,
#msu,
#wd{
    height: 400px;
  
} 
#agelist{
    height: 130px;
} 
#barq5{
    height: 780px;
} 
#line{
    height: 850px;
}

#dapie{
    height: 400px;
}
#qi{
    height: 770px;
}
@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  box-sizing: border-box;
}

.copyright {
  position: absolute;
  bottom: 0;
}
.copyright a {
  text-decoration: none;
  color: #1d16a0da;
}
.copyright a:hover {
  text-decoration: underline;
}

.button {
  position: relative;
  padding: 0.5em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
}
.button.type1 {
  color: #0051ff;
}
.button.type1.type1::after, .button.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.button.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #567357;
  border-right-color: #566473;
}
.button.type1.type1::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #566473;
  border-left-color: #665673;
}
.button.type1.type1:hover:after, .button.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}

